body {
  background-color: #282c34;
  min-height : 100vh;
  height : 100%;
  color: white;
}

.full-center{
  display : flex;
  justify-content: center;
  align-items: center;
}
.logo{
  height : 120px;
}
.btn-trans{
  padding : 14px;
  border: 1px solid white;
  background-color: transparent;
  color : white;
  border-radius : 10px;
}
.wrapper-box{
  border : 1px solid white;
  border-radius : 10px;
  padding : 10px;
  min-width : 250px;
  width : 500px;
  max-width : 90%;
  position : relative
}
.no-radius{
  border-radius : 0px
}
.center{
  display : flex;
  justify-content: center;
}
.bold{
  font-weight : 700
}
.tiret{
  background-color: antiquewhite;
  height : 3px;
  max-width : 300px;
  width : 70%;
  display : block;
}

.question{
 font-size : 1.2rem;
 padding : 10px;
 border: 4px solid rgb(68, 158, 163);

}
.heart {
  height: 25px;
  width : 25px;
} 
.white {
  color : white
}
.modal-footer{
  justify-content: space-between;
}
@media (min-width:500px){
  .question {
    font-size : 1.7rem;
    padding : 25px;
  }
  .heart{
    height : 40px;
    width : 40px;
  }
}
.img-badge{
height : 70px;
width : 70px;
}
.wrapper-user{
  background-color: bisque;
  border-radius: 4px;
  margin : 4px 0;
  color : black
}
.area-answer{
  height : 20px;
  display : flex;
  align-items:center;
  justify-content: center;
}
.area-answer:hover .tiret{
  background-color : rgb(68, 158, 163)
}
.text-center{
  display : flex;
  justify-content: center;
}
h1{
  margin : 0
}
.x-bold{
  font-weight: 900;
}
.wrapper-heart{
  position: absolute;
  right : 10px
}
.wrapper-score{
  position: absolute;
  left : 0

}
.heart{
  color : red;
  padding-right : 5px;
  padding-top: 10px;
}
.text-black{
  color : black
}
.text-yellow{
  color : yellow
}
.sticky{
  padding-bottom : 20px; 
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #282c34;
  color: white;
  z-index: 100;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 4px;
  font-size : 1.6rem;
   background-color: #282c34;
   width : 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}
@media all and (min-width : 992px){
  .footer{
    width : auto;
  }

}
.rules h2, .rules h3{
  text-decoration : underline
} 

.button-restart{
  border-radius: 8px;
  border: none;
  background-color: blanchedalmond;
  padding : 10px 6px;
  
}
.svg-restart{
  /* margin-right : 10px; */
  color : white;
  cursor: pointer;
  position: absolute;
  right : 10px
}
h1{
  font-size : 2rem;
}
h2{
  font-size : 1.7rem;
}
a:hover, a:link, a:visited{
  text-decoration: none;
  color : black
}
.box-quiz{
  border-radius: 10px;
  background-color : white;
  background-position: center;
  background-size: 100%;
  margin-bottom: 30px;;
}
.absolute-info{
  position: absolute;
  top: 0;
  right :5px
}
.box-quiz:hover{
  transform: scale(1.04);
}
.filter-on-image{
  border-radius: 10px;
  background-color: rgba(240, 248, 255, 0.423);
  height :100%;
  padding : 10px;
  width :100%;
}
.content-center{
  display : flex;
  justify-content: center;
}
.radius90 {
  border-radius: 90px;
}
.line-record{
  border-radius : 10px;
  color : white;
  /* border : 1px solid white; */
  min-width : 260px;
  max-width : 400px;
  width : 100vw;
  padding: 10px;
  background-color: rgb(25, 27, 28);
}
.percent-area{
  width : 50px;
  height : 30px
}
.line-record:hover{
  opacity : 0.9
}
.background-grey{
  background-color: grey;
}
.background-green{
  background-color: green;
}
.background-green-plus{
  background-color: rgb(136, 213, 21);
}
.background-orange{
  background-color: orange;
}
.background-yellow{
  background-color: rgb(178, 178, 40);
}
.background-disable{
  background-color: rgb(33, 30, 29);
}
.background-blue{
  background-color: rgb(30, 129, 146);
}

/* Form */
.wrapper-form{
  display : flex;
  justify-content: center;
  border: 1px solid white;
  width : 320px;
  border-radius: 12px;
  padding : 15px 0 
}
.wrapper-form input {
  width: 100%;
  height : 40px;
  border-radius : 10px;
  padding-left: 5px;
}
form{
  width : 100%;
  padding :  20px;
}
.wrapper-form input:placeholder-shown{
  font-weight: 600;
}
form a:visited, form a:link{
  color : rgb(84, 84, 225);
}
form a:hover{
  text-decoration: underline ;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
 
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 101;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right : 0;
  min-width : 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, .dropdown-content div {
  color: white;
  padding: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom : 0.1px solid black;
  cursor: pointer;
  background-color: #282c34;
}
.dropdown-content div{
  background-color: rgb(135, 7, 7);
  color : white
}
.alert-box{
  border-radius: 10px;
  color : black;
  margin-bottom: 14px;
}
.dropdown-content a:hover {filter: brightness(90%);}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.description-box-quiz{
  display : block
}


@media (max-width : 767px) {
  .description-box-quiz{
    display : none
  }
  .dropdown{
    min-width: 53px;
  }
  .dropdown-content {
    background-color: transparent;
    box-shadow: none;
  }
  .dropdown-content a, .dropdown-content div {
    border-radius: 90px;
    min-width: none;
    margin: 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown-content a {
    background-color: white;
    color : black
  }
  
}

  /* loading */
  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
